/* 滚动条样式(控制滚动条显示与隐藏) */
:root {
	&[data-show-scrollbar="false"] {
		overflow: overlay;

		scrollbar-color: unset;
		scrollbar-width: unset;
		html::-webkit-scrollbar,
		body::-webkit-scrollbar {
			width: 0px !important;
			height: 0px !important;
		}
	}
}

// body {
// 	margin-left: calc(100vw - 100%);
// }

/* 滚动条样式 */
// ::-webkit-scrollbar {
// 	width: 0px;
// 	height: 0px;
// }

// @media screen and (min-width: 767px) {
// 	::-webkit-scrollbar {
// 		width: 10px;
// 		height: 10px;
// 		display: block;
// 	}
// }
// @media screen and (min-width: 425px) and (max-width: 767px) {
// 	::-webkit-scrollbar {
// 		width: 5px;
// 		height: 5px;
// 		display: block;
// 	}
// }
// @media screen and (max-width: 425px) {
// 	::-webkit-scrollbar {
// 		display: none;
// 	}
// }

/* 修改整个滚动条的宽度 */
// ::-webkit-scrollbar {
// 	box-sizing: border-box;
// 	width: 12px;
// 	height: 12px;
// }

/* 修改滚动条轨道的样式 */
// ::-webkit-scrollbar-track {
// 	background: rgba(255, 255, 255, 0);
// }

/* 修改滚动条滑块的样式 */
// ::-webkit-scrollbar-thumb {
// 	background: #888;
// 	border-radius: 12px;
// }

/* 鼠标悬停在滚动条滑块上时的样式 */
// ::-webkit-scrollbar-thumb:hover {
// 	background: #555;
// 	border: 0;
// }
