/* 滚动条样式(控制滚动条显示与隐藏) */
:root {
	&[data-show-scrollbar="false"] {
		overflow: overlay;
		> ::-webkit-scrollbar {
			width: 0px !important;
			height: 0px !important;
			transition: all 0.5s;
		}
	}
}

/* 滚动条样式 */
::-webkit-scrollbar {
	/* 滚动条整体样式 */
	width: 0px;
	height: 0px;
}

@media screen and (min-width: 767px) {
	::-webkit-scrollbar {
		width: 10px;
		height: 10px;
		display: block;
	}
}
@media screen and (min-width: 425px) and (max-width: 767px) {
	::-webkit-scrollbar {
		width: 5px;
		height: 5px;
		display: block;
	}
}
@media screen and (max-width: 425px) {
	::-webkit-scrollbar {
		display: none;
	}
}

::-webkit-scrollbar-thumb {
	/* 滚动条里面小方块 */
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #cacaca6a;
}
::-webkit-scrollbar-thumb:hover {
	background: #999999;
}

::-webkit-scrollbar-track {
	/* 滚动条里面轨道 */
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0);
	border-radius: 10px;
}
