li,
button,
fieldset,
input,
select,
textarea {
	margin: unset;
}
button {
	min-height: unset;
	i {
		top: unset;
	}
}

img.fancybox-image {
	border: unset;
}

.img__wrap img {
	border-radius: unset;
}

.f-thumbs__slide__button {
	--clip-path: none !important;
}
